pip install python-binance

In [3]:
!pip install python-binance

Requirement already satisfied: python-binance in /opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages (1.0.19)
Requirement already satisfied: requests in /opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages (from python-binance) (2.31.0)
Requirement already satisfied: six in /opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages (from python-binance) (1.16.0)
Requirement already satisfied: dateparser in /opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages (from python-binance) (1.2.0)
Requirement already satisfied: aiohttp in /opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages (from python-binance) (3.8.4)
Requirement already satisfied: ujson in /opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages (from python-binance) (5.8.0)
Requirement already satisfied: websockets in /opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages (from python-binance) (11.0.3)
Requirement already satisfied: pycryptodome in /opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages (from python-binance) (3.17)
Requirement already satisfied: attrs>=17.3.0 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages (from aiohttp->python-binance) (22.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages (from aiohttp->python-binance) (2.1.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages (from aiohttp->python-binance) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages (from aiohttp->python-binance) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages (from aiohttp->python-binance) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages (from aiohttp->python-binance) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages (from aiohttp->python-binance) (1.3.1)
Requirement already satisfied: python-dateutil in /opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages (from dateparser->python-binance) (2.8.2)
Requirement already satisfied: pytz in /opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages (from dateparser->python-binance) (2022.7)
Requirement already satisfied: regex!=2019.02.19,!=2021.8.27 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages (from dateparser->python-binance) (2023.5.5)
Requirement already satisfied: tzlocal in /opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages (from dateparser->python-binance) (5.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages (from requests->python-binance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages (from requests->python-binance) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages (from requests->python-binance) (2023.5.7)

In [1]:
from binance import Client
import pandas as pd
import numpy as np

# Initialize client for public data
spot_client = Client()

# Fetch trades for BTCEUR
r = spot_client.get_recent_trades(symbol="BTCEUR")

In [2]:
df = (
    pd.DataFrame(r)
    .drop(columns=["isBuyerMaker", "isBestMatch"])
)
df["time"] = pd.to_datetime(df["time"], unit="ms")

for column in ["price", "qty", "quoteQty"]:
    df[column] = pd.to_numeric(df[column])
df

            id     price      qty     quoteQty                    time
0    129860598  35679.35  0.00367   130.943215 2023-12-02 12:28:32.804
1    129860599  35679.39  0.02000   713.587800 2023-12-02 12:28:32.804
2    129860600  35679.40  0.04544  1621.271936 2023-12-02 12:28:32.804
3    129860601  35679.40  0.00470   167.693180 2023-12-02 12:28:32.804
4    129860602  35678.35  0.00084    29.969814 2023-12-02 12:28:41.227
..         ...       ...      ...          ...                     ...
495  129861093  35669.61  0.00018     6.420530 2023-12-02 12:59:39.893
496  129861094  35669.58  0.00242    86.320384 2023-12-02 12:59:39.893
497  129861095  35669.57  0.00036    12.841045 2023-12-02 12:59:39.893
498  129861096  35669.19  0.00242    86.319440 2023-12-02 12:59:42.593
499  129861097  35668.99  0.00024     8.560558 2023-12-02 12:59:42.593

[500 rows x 5 columns]

In [9]:
# The DataFrame df is first grouped by a time interval (e.g., 1 minute) using pd.Grouper.
grouped = df.groupby(pd.Grouper(key='time', freq='1Min'))  # Group by 1-minute intervals, for example

# This approach is typical in financial time series analysis where you want to summarize price data over specific intervals, like minutes, hours, or days.
# Display the first few rows of each group
for name, group in grouped:
    print(f"Group: {name}")
    print(group.head())  # Adjust the number of rows to display as needed
    print("\n")  # Adds a newline for better readability

Group: 2023-12-02 12:28:00
          id     price      qty     quoteQty                    time
0  129860598  35679.35  0.00367   130.943215 2023-12-02 12:28:32.804
1  129860599  35679.39  0.02000   713.587800 2023-12-02 12:28:32.804
2  129860600  35679.40  0.04544  1621.271936 2023-12-02 12:28:32.804
3  129860601  35679.40  0.00470   167.693180 2023-12-02 12:28:32.804
4  129860602  35678.35  0.00084    29.969814 2023-12-02 12:28:41.227


Group: 2023-12-02 12:29:00
           id     price      qty    quoteQty                    time
11  129860609  35682.02  0.00108   38.536582 2023-12-02 12:29:06.867
12  129860610  35682.42  0.01030  367.528926 2023-12-02 12:29:15.092
13  129860611  35681.14  0.01627  580.532148 2023-12-02 12:29:19.621
14  129860612  35678.69  0.00403  143.785121 2023-12-02 12:29:28.392
15  129860613  35678.69  0.00207   73.854888 2023-12-02 12:29:28.992


Group: 2023-12-02 12:30:00
           id     price      qty    quoteQty                    time
19  129860617  35677.23  0.01681  599.734236 2023-12-02 12:30:12.123
20  129860618  35677.65  0.01170  417.428505 2023-12-02 12:30:12.123
21  129860619  35675.33  0.00159   56.723775 2023-12-02 12:30:19.313
22  129860620  35678.99  0.00500  178.394950 2023-12-02 12:30:22.700
23  129860621  35680.61  0.00308  109.896279 2023-12-02 12:30:22.700


Group: 2023-12-02 12:31:00
           id     price      qty    quoteQty                    time
33  129860631  35677.40  0.00056   19.979344 2023-12-02 12:31:00.609
34  129860632  35680.80  0.00081   28.901448 2023-12-02 12:31:04.292
35  129860633  35676.40  0.00704  251.161856 2023-12-02 12:31:07.082
36  129860634  35676.39  0.00553  197.290437 2023-12-02 12:31:07.082
37  129860635  35676.38  0.00583  207.993295 2023-12-02 12:31:07.082


Group: 2023-12-02 12:32:00
           id     price      qty    quoteQty                    time
53  129860651  35673.84  0.00487  173.731601 2023-12-02 12:32:09.011
54  129860652  35673.83  0.00053   18.907130 2023-12-02 12:32:09.011
55  129860653  35673.84  0.00420  149.830128 2023-12-02 12:32:09.383
56  129860654  35675.47  0.00042   14.983697 2023-12-02 12:32:19.811
57  129860655  35674.27  0.00042   14.983193 2023-12-02 12:32:40.500


Group: 2023-12-02 12:33:00
           id     price      qty    quoteQty                    time
68  129860666  35659.70  0.00457  162.964829 2023-12-02 12:33:02.193
69  129860667  35661.74  0.01112  396.558549 2023-12-02 12:33:13.252
70  129860668  35661.75  0.01755  625.863713 2023-12-02 12:33:13.252
71  129860669  35661.78  0.00157   55.988995 2023-12-02 12:33:13.252
72  129860670  35661.81  0.00081   28.886066 2023-12-02 12:33:13.252


Group: 2023-12-02 12:34:00
           id     price      qty   quoteQty                    time
83  129860681  35666.90  0.00058  20.686802 2023-12-02 12:34:03.811
84  129860682  35665.78  0.00058  20.686152 2023-12-02 12:34:04.593
85  129860683  35665.78  0.00179  63.841746 2023-12-02 12:34:04.593
86  129860684  35666.64  0.00143  51.003295 2023-12-02 12:34:24.429
87  129860685  35667.06  0.00140  49.933884 2023-12-02 12:34:31.204


Group: 2023-12-02 12:35:00
           id     price      qty    quoteQty                    time
93  129860691  35665.94  0.00038   13.553057 2023-12-02 12:35:00.411
94  129860692  35666.06  0.00015    5.349909 2023-12-02 12:35:02.005
95  129860693  35666.05  0.00181   64.555550 2023-12-02 12:35:02.005
96  129860694  35664.80  0.00364  129.819872 2023-12-02 12:35:05.111
97  129860695  35664.46  0.00209   74.538721 2023-12-02 12:35:07.311


Group: 2023-12-02 12:36:00
            id     price      qty   quoteQty                    time
120  129860718  35665.68  0.00175  62.414940 2023-12-02 12:36:01.500
121  129860719  35665.47  0.00020   7.133094 2023-12-02 12:36:04.010
122  129860720  35665.26  0.00028   9.986273 2023-12-02 12:36:18.028
123  129860721  35664.87  0.00029  10.342812 2023-12-02 12:36:28.783
124  129860722  35663.59  0.00029  10.342441 2023-12-02 12:36:43.427


Group: 2023-12-02 12:37:00
            id     price      qty    quoteQty                    time
130  129860728  35666.21  0.00507  180.827685 2023-12-02 12:37:04.566
131  129860729  35666.26  0.00035   12.483191 2023-12-02 12:37:06.528
132  129860730  35665.86  0.00334  119.123972 2023-12-02 12:37:06.528
133  129860731  35667.91  0.00294  104.863655 2023-12-02 12:37:19.411
134  129860732  35667.93  0.00142   50.648461 2023-12-02 12:37:19.613


Group: 2023-12-02 12:38:00
            id     price      qty    quoteQty                    time
144  129860742  35667.44  0.00258   92.021995 2023-12-02 12:38:03.404
145  129860743  35667.48  0.00023    8.203520 2023-12-02 12:38:06.712
146  129860744  35667.47  0.00577  205.801302 2023-12-02 12:38:06.712
147  129860745  35667.87  0.00196   69.909025 2023-12-02 12:38:12.009
148  129860746  35667.88  0.00084   29.961019 2023-12-02 12:38:12.009


Group: 2023-12-02 12:39:00
            id     price      qty    quoteQty                    time
157  129860755  35667.76  0.00387  138.034231 2023-12-02 12:39:02.314
158  129860756  35667.18  0.00182   64.914268 2023-12-02 12:39:03.427
159  129860757  35666.03  0.00444  158.357173 2023-12-02 12:39:13.109
160  129860758  35666.03  0.00056   19.972977 2023-12-02 12:39:13.987
161  129860759  35666.03  0.00467  166.560360 2023-12-02 12:39:13.987


Group: 2023-12-02 12:40:00
            id     price      qty    quoteQty                    time
176  129860774  35656.94  0.00052   18.541609 2023-12-02 12:40:06.625
177  129860775  35656.95  0.00280   99.839460 2023-12-02 12:40:12.683
178  129860776  35656.95  0.00824  293.813268 2023-12-02 12:40:14.404
179  129860777  35656.95  0.02000  713.139000 2023-12-02 12:40:14.404
180  129860778  35656.95  0.00009    3.209125 2023-12-02 12:40:14.404


Group: 2023-12-02 12:41:00
            id     price      qty    quoteQty                    time
189  129860787  35643.88  0.00070   24.950716 2023-12-02 12:41:04.313
190  129860788  35642.70  0.00678  241.657506 2023-12-02 12:41:08.421
191  129860789  35642.69  0.00050   17.821345 2023-12-02 12:41:08.421
192  129860790  35643.45  0.00168   59.880996 2023-12-02 12:41:11.120
193  129860791  35642.64  0.00272   96.947981 2023-12-02 12:41:15.611


Group: 2023-12-02 12:42:00
            id     price      qty    quoteQty                    time
209  129860807  35643.27  0.00095   33.861106 2023-12-02 12:42:23.429
210  129860808  35643.42  0.00840  299.404728 2023-12-02 12:42:25.728
211  129860809  35643.43  0.00016    5.702949 2023-12-02 12:42:27.407
212  129860810  35643.84  0.00528  188.199475 2023-12-02 12:42:27.407
213  129860811  35642.48  0.00422  150.411266 2023-12-02 12:42:41.006


Group: 2023-12-02 12:43:00
            id     price      qty    quoteQty                    time
215  129860813  35642.43  0.00190   67.720617 2023-12-02 12:43:03.526
216  129860814  35642.41  0.00412  146.846729 2023-12-02 12:43:20.631
217  129860815  35642.41  0.00173   61.661369 2023-12-02 12:43:23.827
218  129860816  35636.21  0.00064   22.807174 2023-12-02 12:43:24.105
219  129860817  35638.88  0.00067   23.878050 2023-12-02 12:43:34.809


Group: 2023-12-02 12:44:00
            id     price      qty    quoteQty                    time
226  129860824  35639.60  0.00024    8.553504 2023-12-02 12:44:06.383
227  129860825  35639.94  0.00842  300.088295 2023-12-02 12:44:10.492
228  129860826  35646.41  0.01046  372.861449 2023-12-02 12:44:12.509
229  129860827  35646.41  0.00129   45.983869 2023-12-02 12:44:16.321
230  129860828  35646.41  0.00238   84.838456 2023-12-02 12:44:23.521


Group: 2023-12-02 12:45:00
            id     price      qty    quoteQty                    time
242  129860840  35645.39  0.00368  131.175035 2023-12-02 12:45:00.693
243  129860841  35645.39  0.01091  388.891205 2023-12-02 12:45:00.693
244  129860842  35645.38  0.00406  144.720243 2023-12-02 12:45:00.693
245  129860843  35645.35  0.00900  320.808150 2023-12-02 12:45:00.693
246  129860844  35644.17  0.00145   51.684047 2023-12-02 12:45:02.693


Group: 2023-12-02 12:46:00
            id     price      qty    quoteQty                    time
271  129860869  35648.91  0.01014  361.479947 2023-12-02 12:46:01.827
272  129860870  35648.91  0.00936  333.673798 2023-12-02 12:46:01.827
273  129860871  35647.51  0.00341  121.558009 2023-12-02 12:46:01.827
274  129860872  35647.49  0.00846  301.577765 2023-12-02 12:46:01.827
275  129860873  35648.57  0.00057   20.319685 2023-12-02 12:46:14.313


Group: 2023-12-02 12:47:00
            id     price      qty   quoteQty                    time
286  129860884  35648.78  0.00106  37.787707 2023-12-02 12:47:17.213
287  129860885  35648.77  0.00115  40.996085 2023-12-02 12:47:17.213
288  129860886  35648.70  0.00169  60.246303 2023-12-02 12:47:17.213
289  129860887  35647.69  0.00095  33.865305 2023-12-02 12:47:17.213
290  129860888  35647.69  0.00075  26.735768 2023-12-02 12:47:17.213


Group: 2023-12-02 12:48:00
            id     price      qty    quoteQty                    time
302  129860900  35652.15  0.00070   24.956505 2023-12-02 12:48:12.792
303  129860901  35651.43  0.00029   10.338915 2023-12-02 12:48:23.213
304  129860902  35651.44  0.02717  968.649625 2023-12-02 12:48:23.594
305  129860903  35652.00  0.00029   10.339080 2023-12-02 12:48:34.895
306  129860904  35652.01  0.00433  154.373203 2023-12-02 12:48:34.895


Group: 2023-12-02 12:49:00
            id     price      qty   quoteQty                    time
334  129860932  35651.04  0.00058  20.677603 2023-12-02 12:49:10.100
335  129860933  35651.25  0.00210  74.867625 2023-12-02 12:49:25.593
336  129860934  35651.24  0.00053  18.895157 2023-12-02 12:49:28.246
337  129860935  35651.24  0.00102  36.364265 2023-12-02 12:49:46.513
338  129860936  35651.24  0.00149  53.120348 2023-12-02 12:49:50.704


Group: 2023-12-02 12:50:00
            id     price      qty     quoteQty                    time
339  129860937  35651.24  0.02671   952.244620 2023-12-02 12:50:03.821
340  129860938  35651.25  0.02419   862.403738 2023-12-02 12:50:15.884
341  129860939  35651.24  0.00070    24.955868 2023-12-02 12:50:31.309
342  129860940  35651.24  0.00263    93.762761 2023-12-02 12:50:37.811
343  129860941  35651.24  0.10603  3780.100977 2023-12-02 12:50:39.204


Group: 2023-12-02 12:51:00
            id     price      qty    quoteQty                    time
350  129860948  35651.22  0.00059   21.034220 2023-12-02 12:51:07.200
351  129860949  35651.23  0.00600  213.907380 2023-12-02 12:51:07.504
352  129860950  35651.23  0.00253   90.197612 2023-12-02 12:51:08.118
353  129860951  35651.23  0.00332  118.362084 2023-12-02 12:51:17.892
354  129860952  35651.23  0.00099   35.294718 2023-12-02 12:51:19.682


Group: 2023-12-02 12:52:00
            id     price      qty    quoteQty                    time
363  129860961  35659.99  0.00046   16.403595 2023-12-02 12:52:01.383
364  129860962  35658.42  0.01906  679.649485 2023-12-02 12:52:18.592
365  129860963  35659.06  0.00627  223.582306 2023-12-02 12:52:26.113
366  129860964  35658.87  0.00055   19.612378 2023-12-02 12:52:26.811
367  129860965  35657.93  0.00543  193.622560 2023-12-02 12:52:28.424


Group: 2023-12-02 12:53:00
            id     price      qty   quoteQty                    time
381  129860979  35656.82  0.00070  24.959774 2023-12-02 12:53:01.999
382  129860980  35656.97  0.00095  33.874122 2023-12-02 12:53:03.913
383  129860981  35656.97  0.00028   9.983952 2023-12-02 12:53:10.109
384  129860982  35656.97  0.00214  76.305916 2023-12-02 12:53:11.821
385  129860983  35656.97  0.00067  23.890170 2023-12-02 12:53:11.821


Group: 2023-12-02 12:54:00
            id     price      qty    quoteQty                    time
397  129860995  35656.97  0.00035   12.479940 2023-12-02 12:54:12.809
398  129860996  35656.96  0.00253   90.212109 2023-12-02 12:54:12.809
399  129860997  35656.96  0.00057   20.324467 2023-12-02 12:54:13.600
400  129860998  35656.97  0.00700  249.598790 2023-12-02 12:54:18.304
401  129860999  35656.97  0.02000  713.139400 2023-12-02 12:54:24.292


Group: 2023-12-02 12:55:00
            id     price      qty    quoteQty                    time
418  129861016  35654.58  0.00281  100.189370 2023-12-02 12:55:01.014
419  129861017  35654.58  0.00027    9.626737 2023-12-02 12:55:02.492
420  129861018  35651.26  0.01519  541.542639 2023-12-02 12:55:06.556
421  129861019  35651.26  0.00439  156.509031 2023-12-02 12:55:06.556
422  129861020  35651.26  0.00791  282.001467 2023-12-02 12:55:06.556


Group: 2023-12-02 12:56:00
            id     price      qty   quoteQty                    time
432  129861030  35652.26  0.00162  57.756661 2023-12-02 12:56:14.012
433  129861031  35653.83  0.00280  99.830724 2023-12-02 12:56:14.100
434  129861032  35651.25  0.00029  10.338862 2023-12-02 12:56:15.814
435  129861033  35651.59  0.00113  40.286297 2023-12-02 12:56:18.609
436  129861034  35651.60  0.00119  42.425404 2023-12-02 12:56:18.609


Group: 2023-12-02 12:57:00
            id     price      qty    quoteQty                    time
453  129861051  35653.78  0.00845  301.274441 2023-12-02 12:57:11.211
454  129861052  35653.96  0.00070   24.957772 2023-12-02 12:57:24.125
455  129861053  35653.95  0.01513  539.444264 2023-12-02 12:57:26.458
456  129861054  35653.95  0.00534  190.392093 2023-12-02 12:57:26.458
457  129861055  35653.95  0.00242   86.282559 2023-12-02 12:57:26.458


Group: 2023-12-02 12:58:00
            id     price      qty    quoteQty                    time
472  129861070  35658.31  0.00042   14.976490 2023-12-02 12:58:01.306
473  129861071  35658.29  0.00154   54.913767 2023-12-02 12:58:01.306
474  129861072  35658.27  0.00022    7.844819 2023-12-02 12:58:01.910
475  129861073  35658.23  0.01316  469.262307 2023-12-02 12:58:06.821
476  129861074  35660.00  0.00005    1.783000 2023-12-02 12:58:22.511


Group: 2023-12-02 12:59:00
            id     price      qty    quoteQty                    time
481  129861079  35666.28  0.00035   12.483198 2023-12-02 12:59:02.710
482  129861080  35667.19  0.00470  167.635793 2023-12-02 12:59:03.627
483  129861081  35667.98  0.00099   35.311300 2023-12-02 12:59:15.910
484  129861082  35666.72  0.02579  919.844709 2023-12-02 12:59:20.013
485  129861083  35666.72  0.00096   34.240051 2023-12-02 12:59:20.510

In [15]:
# Accessing the first group
first_group_name, first_group_df = next(iter(grouped))
first_group_df

           id     price      qty     quoteQty                    time
0   129860598  35679.35  0.00367   130.943215 2023-12-02 12:28:32.804
1   129860599  35679.39  0.02000   713.587800 2023-12-02 12:28:32.804
2   129860600  35679.40  0.04544  1621.271936 2023-12-02 12:28:32.804
3   129860601  35679.40  0.00470   167.693180 2023-12-02 12:28:32.804
4   129860602  35678.35  0.00084    29.969814 2023-12-02 12:28:41.227
5   129860603  35681.21  0.00172    61.371681 2023-12-02 12:28:47.199
6   129860604  35681.21  0.00328   117.034369 2023-12-02 12:28:47.231
7   129860605  35683.10  0.00171    61.018101 2023-12-02 12:28:47.231
8   129860606  35683.10  0.00147    52.454157 2023-12-02 12:28:47.243
9   129860607  35683.11  0.00032    11.418595 2023-12-02 12:28:47.243
10  129860608  35684.11  0.00244    87.069228 2023-12-02 12:28:57.395

Some further notes
* iter(grouped) creates an iterator over the groups in the grouped object.

* next() fetches the first item from this iterator, which is a tuple containing the group name (or key) and the corresponding DataFrame.

To access a specific group, you typically use methods like:

* get_group(key): If you know the key (or name) of the group you want to access.
* Iterating over the GroupBy object: This allows you to access each group in turn. As we have done earlier in the code!

In [17]:
# Access a group by its key
specific_key="2023-12-02 12:30:00" # It should bare the name of the date and time in this specific case
specific_group = grouped.get_group(specific_key)
specific_group

           id     price      qty    quoteQty                    time
19  129860617  35677.23  0.01681  599.734236 2023-12-02 12:30:12.123
20  129860618  35677.65  0.01170  417.428505 2023-12-02 12:30:12.123
21  129860619  35675.33  0.00159   56.723775 2023-12-02 12:30:19.313
22  129860620  35678.99  0.00500  178.394950 2023-12-02 12:30:22.700
23  129860621  35680.61  0.00308  109.896279 2023-12-02 12:30:22.700
24  129860622  35680.79  0.01389  495.606173 2023-12-02 12:30:22.700
25  129860623  35675.33  0.00280   99.890924 2023-12-02 12:30:28.211
26  129860624  35677.05  0.00070   24.973935 2023-12-02 12:30:33.670
27  129860625  35676.76  0.00344  122.728054 2023-12-02 12:30:42.121
28  129860626  35679.38  0.00045   16.055721 2023-12-02 12:30:45.309
29  129860627  35681.61  0.00042   14.986276 2023-12-02 12:30:48.821
30  129860628  35681.40  0.02000  713.628000 2023-12-02 12:30:51.811
31  129860629  35681.41  0.01258  448.872138 2023-12-02 12:30:51.811
32  129860630  35679.02  0.00020    7.135804 2023-12-02 12:30:54.612

In [10]:
# Then, the .ohlc() method is called on the 'price' column of this grouped object to compute the Open, High, Low, and Close values for each time interval.
ohlc = grouped['price'].ohlc()
ohlc

                         open      high       low     close
time
2023-12-02 12:28:00  35679.35  35684.11  35678.35  35684.11
2023-12-02 12:29:00  35682.02  35682.42  35673.00  35673.00
2023-12-02 12:30:00  35677.23  35681.61  35675.33  35679.02
2023-12-02 12:31:00  35677.40  35680.80  35675.18  35675.95
2023-12-02 12:32:00  35673.84  35675.47  35659.89  35660.78
2023-12-02 12:33:00  35659.70  35667.17  35659.70  35667.17
2023-12-02 12:34:00  35666.90  35667.14  35665.13  35665.28
2023-12-02 12:35:00  35665.94  35666.06  35661.65  35664.52
2023-12-02 12:36:00  35665.68  35668.68  35663.59  35668.68
2023-12-02 12:37:00  35666.21  35672.39  35665.86  35667.75
2023-12-02 12:38:00  35667.44  35670.21  35667.44  35670.21
2023-12-02 12:39:00  35667.76  35667.76  35660.38  35660.38
2023-12-02 12:40:00  35656.94  35656.95  35646.84  35648.88
2023-12-02 12:41:00  35643.88  35647.26  35641.78  35644.81
2023-12-02 12:42:00  35643.27  35643.84  35642.48  35642.48
2023-12-02 12:43:00  35642.43  35642.43  35636.21  35639.71
2023-12-02 12:44:00  35639.60  35646.41  35639.60  35646.21
2023-12-02 12:45:00  35645.39  35653.50  35644.17  35649.27
2023-12-02 12:46:00  35648.91  35649.45  35646.84  35648.23
2023-12-02 12:47:00  35648.78  35651.44  35647.69  35651.12
2023-12-02 12:48:00  35652.15  35653.07  35650.19  35650.93
2023-12-02 12:49:00  35651.04  35651.25  35651.04  35651.24
2023-12-02 12:50:00  35651.24  35651.25  35645.15  35650.30
2023-12-02 12:51:00  35651.22  35660.00  35651.22  35660.00
2023-12-02 12:52:00  35659.99  35659.99  35654.83  35658.75
2023-12-02 12:53:00  35656.82  35658.05  35656.82  35656.98
2023-12-02 12:54:00  35656.97  35656.97  35654.78  35654.79
2023-12-02 12:55:00  35654.58  35655.64  35651.26  35655.64
2023-12-02 12:56:00  35652.26  35654.44  35651.25  35653.78
2023-12-02 12:57:00  35653.78  35658.27  35652.90  35658.27
2023-12-02 12:58:00  35658.31  35666.46  35658.23  35666.10
2023-12-02 12:59:00  35666.28  35669.61  35665.95  35668.99

In [23]:
# The grouped (the variable) is a grouped DataFrame and each group contains 'price' and 'qty' columns
vwap = grouped.apply(lambda x: np.average(x['price'], weights=x['qty'])).to_frame("vwap")
vwap.head()

                             vwap
time
2023-12-02 12:28:00  35679.776564
2023-12-02 12:29:00  35679.505732
2023-12-02 12:30:00  35679.416904
2023-12-02 12:31:00  35676.654793
2023-12-02 12:32:00  35668.430774

In [29]:
# Sum the volume in each group
vol = grouped["qty"].sum().to_frame("Volume")
vol.head()

                      Volume
time
2023-12-02 12:28:00  0.08559
2023-12-02 12:29:00  0.05597
2023-12-02 12:30:00  0.09266
2023-12-02 12:31:00  0.10912
2023-12-02 12:32:00  0.03670

In [28]:
# how many data entry in each minute!
cnt =grouped["qty"].size().to_frame("count")
cnt

                     count
time
2023-12-02 12:28:00     11
2023-12-02 12:29:00      8
2023-12-02 12:30:00     14
2023-12-02 12:31:00     20
2023-12-02 12:32:00     15
2023-12-02 12:33:00     15
2023-12-02 12:34:00     10
2023-12-02 12:35:00     27
2023-12-02 12:36:00     10
2023-12-02 12:37:00     14
2023-12-02 12:38:00     13
2023-12-02 12:39:00     19
2023-12-02 12:40:00     13
2023-12-02 12:41:00     20
2023-12-02 12:42:00      6
2023-12-02 12:43:00     11
2023-12-02 12:44:00     16
2023-12-02 12:45:00     29
2023-12-02 12:46:00     15
2023-12-02 12:47:00     16
2023-12-02 12:48:00     32
2023-12-02 12:49:00      5
2023-12-02 12:50:00     11
2023-12-02 12:51:00     13
2023-12-02 12:52:00     18
2023-12-02 12:53:00     16
2023-12-02 12:54:00     21
2023-12-02 12:55:00     14
2023-12-02 12:56:00     21
2023-12-02 12:57:00     19
2023-12-02 12:58:00      9
2023-12-02 12:59:00     19

In [30]:
import numpy as np
import pandas as pd

def get_bars(df, add_time=False):
    """
    Aggregates trading data into a summarized format including OHLC, VWAP, volume, and count.

    Args:
        df (DataFrame): A DataFrame containing trade data with 'price', 'qty', and optionally 'time' columns.
        add_time (bool, optional): If True, includes the timestamp of the last trade in the aggregation. Defaults to False.

    Returns:
        DataFrame: A DataFrame containing aggregated trade data.
    """

    # Calculate Open, High, Low, and Close (OHLC) for the 'price' column
    ohlc = df["price"].ohlc()

    # Calculate Volume Weighted Average Price (VWAP)
    # VWAP is calculated as the sum of price multiplied by quantity, divided by total quantity
    vwap = (
        df.apply(lambda x: np.average(x["price"], weights=x["qty"]))
        .to_frame("vwap")
    )

    # Calculate total volume of trades
    vol = df["qty"].sum().to_frame("Volume")

    # Count the number of trades
    cnt = df["qty"].size().to_frame("Count")
    
    # If add_time is True, include the timestamp of the last trade
    if add_time:
        # Get the last timestamp from the 'time' column
        time = df["time"].last().to_frame("time")

        # Concatenate time, OHLC, VWAP, volume, and count into a single DataFrame
        res = pd.concat([time, ohlc, vwap, vol, cnt], axis=1)
    else:
        # Concatenate OHLC, VWAP, volume, and count into a single DataFrame
        res = pd.concat([ohlc, vwap, vol, cnt], axis=1)

    return res

In [32]:
df_grouped_time = df.groupby(pd.Grouper(key="time", freq="1Min"))
time_bars = get_bars(df_grouped_time)
time_bars.head()

,open,high,low,close,vwap,Volume,Count
time,,,,,,,
2023-12-02 12:28:00,35679.35,35684.11,35678.35,35684.11,35679.776564,0.08559,11
2023-12-02 12:29:00,35682.02,35682.42,35673.00,35673.00,35679.505732,0.05597,8
2023-12-02 12:30:00,35677.23,35681.61,35675.33,35679.02,35679.416904,0.09266,14
2023-12-02 12:31:00,35677.40,35680.80,35675.18,35675.95,35676.654793,0.10912,20
2023-12-02 12:32:00,35673.84,35675.47,35659.89,35660.78,35668.430774,0.03670,15

In [34]:
df.head()

,id,price,qty,quoteQty,time,cum_qty,vol_group
0,129860598,35679.35,0.00367,130.943215,2023-12-02 12:28:32.804,0.00367,0
1,129860599,35679.39,0.02000,713.587800,2023-12-02 12:28:32.804,0.02367,0
2,129860600,35679.40,0.04544,1621.271936,2023-12-02 12:28:32.804,0.06911,0
3,129860601,35679.40,0.00470,167.693180,2023-12-02 12:28:32.804,0.07381,0
4,129860602,35678.35,0.00084,29.969814,2023-12-02 12:28:41.227,0.07465,0

In [35]:
# Set the size for each volume bar
bar_size = 1 

# Calculate the cumulative quantity of trades
df["cum_qty"] = df["qty"].cumsum()

# Create volume groups by dividing the cumulative quantity by the bar size
# and applying floor division to get integer group numbers
df["vol_group"] = (
    df["cum_qty"]
    .div(bar_size)  # Divide by bar_size
    .apply(np.floor)  # Round down to the nearest integer
    .astype(int)  # Convert to integer
)

# Group the DataFrame by the volume groups
df_grouped_ticks = df.groupby("vol_group")

df_grouped_ticks.head()

,id,price,qty,quoteQty,time,cum_qty,vol_group
0,129860598,35679.35,0.00367,130.943215,2023-12-02 12:28:32.804,0.00367,0
1,129860599,35679.39,0.02000,713.587800,2023-12-02 12:28:32.804,0.02367,0
2,129860600,35679.40,0.04544,1621.271936,2023-12-02 12:28:32.804,0.06911,0
3,129860601,35679.40,0.00470,167.693180,2023-12-02 12:28:32.804,0.07381,0
4,129860602,35678.35,0.00084,29.969814,2023-12-02 12:28:41.227,0.07465,0
179,129860777,35656.95,0.02000,713.139000,2023-12-02 12:40:14.404,1.01102,1
180,129860778,35656.95,0.00009,3.209125,2023-12-02 12:40:14.404,1.01111,1
181,129860779,35652.97,0.00102,36.366029,2023-12-02 12:40:17.909,1.01213,1
182,129860780,35652.98,0.02521,898.811626,2023-12-02 12:40:18.021,1.03734,1
183,129860781,35649.75,0.00449,160.067377,2023-12-02 12:40:19.310,1.04183,1
391,129860989,35656.98,0.02064,735.960067,2023-12-02 12:53:39.928,2.01881,2
392,129860990,35656.97,0.00078,27.812437,2023-12-02 12:53:40.904,2.01959,2
393,129860991,35656.98,0.00543,193.617401,2023-12-02 12:53:46.507,2.02502,2
394,129860992,35656.97,0.00033,11.766800,2023-12-02 12:53:47.013,2.02535,2
395,129860993,35656.98,0.00318,113.389196,2023-12-02 12:53:47.915,2.02853,2

In [36]:
# Apply the get_bars function to each volume group to create volume bars
# add_time=True includes the timestamp of the last trade in each bar
volume_bars = get_bars(df_grouped_ticks, add_time=True)

# Display the first few rows of the volume bars
volume_bars.head()

,time,open,high,low,close,vwap,Volume,Count
vol_group,,,,,,,,
0,2023-12-02 12:40:14.404,35679.35,35684.11,35656.94,35656.95,35670.380014,0.99102,179
1,2023-12-02 12:53:39.513,35656.95,35660.00,35636.21,35656.98,35649.504605,1.00715,212
2,2023-12-02 12:59:42.593,35656.98,35669.61,35651.25,35668.99,35657.530785,0.42582,109